.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header__left {
    flex: 0.5;
    min-width: 70px;
    max-width: 220px;
    color: #dcdcdc;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.header__left > input {
    border: none;
    background-color: rgb(91, 87, 115);
    outline: none;
    color: #dcdcdc;
    width: 100%;
}

.header__left > input::placeholder {
    color: #dcdcdc;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__left > .MuiSvgIcon-root {
    height: 20px;
}

.header__right > h4 {
    margin-left: 10px;
}